* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #212529;
}

.box {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.box::after {
    content: "세로화면(기본) Mobile";
}

@media screen and (min-width: 576px) {
    .box {
        background-color: rgb(210, 187, 119);
    }

    .box::after {
        content: "가로화면 Mobile";
    }
}

@media screen and (min-width: 768px) {
    .box {
        background-color: rgb(62, 128, 121);
    }

    .box::after {
        content: "Tablet";
    }
}

@media screen and (min-width: 1280px) {
    .box {
        background-color: rgb(102, 102, 207);
    }

    .box::after {
        content: "Desktop";
    }
}